configuration {
  display-window: "Windows";
  display-drun: "Apps";
  display-emoji: "Emojis";
  drun-display-format: "{icon} {name} {category}";
	modes: "window,drun,emoji";
  font: "SF Pro Display 16";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "theme.rasi"