/* Global Styles */
* {
    font-family:
        FontAwesome,
        SF Pro Display,
        sans-serif;
    {{- if eq .chezmoi.hostname "galileo" }}
    font-size: 17px;
    {{- else if eq .chezmoi.hostname "zephyrus" }}
    font-size: 15px;
    {{- end }}
}

/* Waybar Window Styles */
window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Button Styles */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}

/* Workspace Buttons */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #686363;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    color: #ffffff;
}

/* Module Layouts */
#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Common Module Styles */
/* #group-tray, */
#custom-swaync,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 5px;
    color: #ffffff;
}

#power-profiles-daemon {
    padding-left: 5px;
    padding-right: 15px;
    color: #ffffff;
}

/* System Modules */
#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#clock {
    color: #ffffff;
}

/* Battery Module */
#battery {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Power Profiles */
#power-profiles-daemon {
    color: #ffffff;
}

/* System Resource Modules */
/* #cpu {
  background-color: #2ecc71;
  color: #000000;
}


#memory {
  background-color: #9b59b6;
}
*/

#disk {
    background-color: #964b00;
}

/* Hardware Modules */
/* #backlight {
  background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}
*/

#pulseaudio {
    color: #ffffff;
}

/* Media Modules */
/* #custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
} */

/* Tray Module */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* System State Modules */
/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */
/**/
/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

/* Input Modules */
#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

/* Privacy Indicators */
#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

/* Scratchpad */
#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
