##############################
### WINDOWS AND WORKSPACES ###
##############################

# Ignore maximize requests from apps. You'll probably like this.
windowrule = match:class .*, suppress_event maximize

# Fix some dragging issues with XWayland
windowrule = match:class ^$ match:title ^$ match:xwayland 1 match:floating 1 match:fullscreen 0 match:pinned 0, no_focus 1

{{ if eq .chezmoi.hostname "galileo" }}
workspace = 1, monitor:DP-1, persistent:true, default:true
workspace = 2, monitor:DP-1, persistent:true
workspace = 3, monitor:DP-1, persistent:true
workspace = 4, monitor:DP-1, persistent:true
workspace = 5, monitor:DP-1, persistent:true

# For second monitor
# workspace = 6, monitor:DP-2, persistent:true
# workspace = 7, monitor:DP-2, persistent:true
# workspace = 8, monitor:DP-2, persistent:true
# workspace = 9, monitor:DP-2, persistent:true
# workspace = 10, monitor:DP-2, persistent:true
{{ else if eq .chezmoi.hostname "zephyrus" }}
workspace = 1, monitor:eDP-1, persistent:true, default:true
workspace = 2, monitor:eDP-1, persistent:true
workspace = 3, monitor:eDP-1, persistent:true
workspace = 4, monitor:eDP-1, persistent:true
workspace = 5, monitor:eDP-1, persistent:true
{{ end }}

# clipse
windowrule = match:class clipse, float 1 # ensure you have a floating window class set if you want this behavior
windowrule = match:class clipse, size 622 652 # set the size of the window as necessary

# Make Dolphin file picker (e.g., "Save File" dialog) float
windowrule = match:class org.freedesktop.impl.portal.desktop.kde, float 1
{{ if eq .chezmoi.hostname "galileo" }}
windowrule = match:class org.freedesktop.impl.portal.desktop.kde, size (monitor_w*0.45) (monitor_h*0.50)
{{ else if eq .chezmoi.hostname "zephyrus" }}
windowrule = match:class org.freedesktop.impl.portal.desktop.kde, size (monitor_w*0.70) (monitor_h*0.65)
{{ end }}
windowrule = match:class org.freedesktop.impl.portal.desktop.kde, center 1

# floating kitty
windowrule = match:class ^(kitty-floating)$, float 1
windowrule = match:class ^(kitty-floating)$, center 1
{{- if eq .chezmoi.hostname "galileo" }}
windowrule = match:class ^(kitty-floating)$, size (monitor_w*0.50) (monitor_h*0.50)
{{- else if eq .chezmoi.hostname "zephyrus" }}
windowrule = match:class ^(kitty-floating)$, size (monitor_w*0.70) (monitor_h*0.65)
{{- end }}

# Make sure it doesn't get caught by other window rules
windowrule = match:class ^(kitty)$ match:title ^(?!Floating Terminal).*$, tile true

exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP
